<h2 mat-dialog-title>메타데이터 {{ isNewMetadata ? '추가' : '수정' }}</h2>

<form [formGroup]="metadataForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100%" fxLayout fxLayout.xs="column" fxLayoutGap="8px">
        <mat-form-field fxFlex.gt-xs="50%">
          <mat-label>Type</mat-label>
          <input type="text" matInput formControlName="type" [readonly]="!isNewMetadata">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="50%">
          <mat-label>UUID</mat-label>
          <input type="text" matInput formControlName="uuid" [readonly]="!isNewMetadata">
        </mat-form-field>
      </div>

      <div fxFlex="100%">
        <h4 class="mat-h4">Data</h4>
        <json-editor [options]="EDITOR_OPTIONS" formControlName="data"></json-editor>
      </div>
    </div>

    <div class="progress-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" *ngIf="!isNewMetadata" (click)="deleteItem()" color="accent" class="button-delete">제거</button>

    <button mat-button type="button" mat-dialog-close>닫기</button>
    <button mat-flat-button type="submit" [disabled]="metadataForm.invalid || (loading$ | async)" color="primary">저장</button>
  </mat-dialog-actions>
</form>
