mat-dialog-content {
  max-width: 480px;

  .progress-bar {
    height: 4px;
    margin-top: 16px;
  }

  mat-form-field {
    min-width: 0;
  }
}

mat-dialog-actions {
  .button-delete {
    margin-right: auto;
  }
}
